
.propheader{
    text-align: center;
    color: white;
    background-color: rgb(82, 82, 82);
}

body{
    color: white;
    background-color: black;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
}

.colum{
    flex: 20%;
    max-width: 20%;
}

.colum img{
    width: 97%;
    margin-top: 10px;
}

@media screen and (max-width:800px) {
    .colum{flex: 50%;
    max-width: 50%;}
}

@media screen and (max-width:600px) {
    .colum{flex: 100%;
    max-width: 100%;}
}