*{
    box-sizing: border-box;
}

.propheader{
    text-align: center;
    color: white;
    background-color: rgb(82, 82, 82);
}

body{
    color: white;
    background-color: black;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
}

.colum{
    flex: 20%;
    max-width: 20%;
}

.colum img{
    width: 100%;
    margin-top: 10px;
}